@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

*{
    margin: 0px;
    padding: 0px;
}

body{
    display: flex;
    height: 100vh;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

.rightPanel{
    width: 65vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;    
}

.topRightPanel{
    background-color: #f6f7f8;
    height: 35%;
    padding: 15px 10vw 15px 50px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.topRightPanel > h2 > p:last-child{
    padding-top: 15px;
}

h2{
    width: 85%;
}

span{
    font-style: italic;
}

.midRightPanel{
    height: 30%;
    font-size: x-large;
    font-weight: bold;
    padding: 15px 0 15px 50px;
    margin-bottom: 5px;
    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.2);
}

.formOrganizer{
    display: flex;
    gap: 5vw;
    padding-top: 20px;
    font-size: small;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
}

.leftForm,
.rightForm{    
    display: flex;
    flex-direction: column;
}

input:nth-child(even){
    margin-bottom: 15px;
}

label:nth-child(odd){
    margin-bottom: 4px;
}

input{
    font-size: large;
    border-style: solid;
    border-color: #E5E7EB;
    border-radius: 5px;
    padding-left: 10px;
}

input:focus{
    border-color: lightblue;
    box-shadow: 3px 3px 5px rgba(0,0,0,0.2);
}

#confirmPass{
    margin-bottom: 18.2px;
}

.error:invalid{
    border-color: red;
}

.error:invalid:focus{
    outline: none;
}

.errorMessage{
    display: none;
    color: red;
    font-size: small;
    margin-top: -15px;
}

input:invalid ~ .errorMessage{
    display: block;
}

.botRightPanel{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: #f6f7f8;
    height: 35%;
    padding-left: 50px;
}

.botRightPanel > button{
    flex: 0 0 auto;
    color: #f6f7f8;
    background-color: steelblue;
    font-size: larger;
    font-weight: bold;
    padding: 1em 3em;
    border: 0;
    border-radius: 10px;
    margin-top: 3vh;
    box-shadow: 3px 3px 5px rgba(0,0,0,0.2);
    cursor: pointer;
}

.botRightPanel > p{
    margin-top: 3vh;
    font-size: large;
    font-weight: 500;
}

.botRightPanel > p > span > a:link,
.botRightPanel > p > span > a:visited{
    color: steelblue;
    font-style: normal;
    text-decoration: none;
    font-weight: 700;
}

.leftPanel{
    width: 35vw;
    background-image: url(./Img/background.jpg);
    background-position: center 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.title{
    margin-top: 21vh;
    width: 100%;
    height: 13vh;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
}

.credit{
    padding-bottom: 1vh;    
    width: 100%;
    color: rgba(255, 255, 255, 0.7);
    text-align: center;
    font-size: small;
}

.credit > a:link,
.credit > a:visited{
    color: rgba(255, 255, 255, 0.7)
}
  
#bolt{
    height: 90%;;
    margin-left: -30px;    
}

#thor{    
    color: white;
    font-size: 6em;
    margin: 0px;
    font-family: 'Orbitron', sans-serif;
}